<div class="container">
  <div class="title">
    <b>심심이</b><br>
    <h4><b>< 세계 최초 인공지능 대화친구 ></b></h4><hr>
    <h4>심심이는 그게 무슨 말인지 잘 모르겠어요~!</h4>
    <img src="/simsimlearn.png" style="width:20%; height:20%; border-radius: 25px;"><hr>
    <h4>심심이에게 말을 가르쳐주세요!</h4>
  </div>
  <div class="page">




    <!-- *** 심심이에게 가르치고 싶은 말을 입력하는 공간 ***-->
    <form>
      <h3 style="margin-left: 1em;"><b>심심아, 내가 이렇게 말하면~<b></h3>
        <div class="col-md-1 inner-addon">
          <i class="glyphicon glyphicon-volume-up"></i>
        </div>
        <input type="text" class="form-control" placeholder="심심이에게 하고싶은 말을 적어주세요!" style="height:3em; width:80%;"><hr>

      <h3 style="margin-left: 1em;"><b>너는 이렇게 말해줘!<b></h3>
        <div class="col-md-1 inner-addon">
          <i class="glyphicon glyphicon-bullhorn"></i>
        </div>
        <input type="text" class="form-control" placeholder="심심이가 대답할 말을 적어주세요!" style="height:3em; width:80%;"><hr>

      <button type="submit" class="btn btn-warning" style="height:3em; color:black; margin-left:75%;"><b>심심이에게 가르쳐주기!</b></button>
    </form>
    <!-- *** 심심이에게 가르치고 싶은 말을 입력하는 공간 ***-->






    <div class="row" style="padding:1em;">
      <div class="col-md-2">
        <img src="/simsim.png" style="width:100%; height:100%; border-radius: 25px;">
      </div>
      <div class="col-md-8 simtalk">
        <p class="simsimbubble">고맙습니다!!<br>덕분에 또 하나의 말을 배웠어요!</p>
      </div>
    </div>
  </div>
  <div class="title">
    <h6 style="font-size: 80%;"><a href="/simsim/index"><b>메인화면으로 가기!</b></a></h6>
  </div>
</div>
